- var ver = 201501211100
doctype html
block vars
html(lang="ja", xmlns:og="http://ogp.me/ns#", xmlns:fb="http://www.facebook.com/2008/fbml", xmlns:mixi="http://mixi-platform.com/ns#")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		if type == 'home'
			meta(name="fragment", content="!")

		if type == 'home'
			title #{sitename} | #{title}
		else 
			title #{title} | #{sitename}
		link#shortcut-icon(rel="shortcut icon", href="")
		link#apple-touch-icon(rel="apple-touch-icon", href="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		// OGP and meta stert
		meta(property="og:title", content="")
		if type == 'single'
			meta(property="og:type", content="article")
		else
			meta(property="og:type", content="website")
		meta(property="og:description", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="#{sitename}")
		meta(property="og:locale", content="ja_JP")
		// OGP and meta end
		link#normalize-css(rel="stylesheet", href="/assets/lib/normalize.css")
		link#open-sans-Oswald-css(rel="stylesheet", href="//fonts.googleapis.com/css?family=Nunito:400,700,300")
		link#font-awesome-css(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css")
		link#font-webnist-css(rel="stylesheet", href="/assets/fonts/font-webnist.css")
		if type == 'single'
			link#mak-css(rel="stylesheet", href="/assets/lib/magnific-popup.css")

		link#mak-css(rel="stylesheet", href="/assets/css/mobile.css?ver=#{ver}")

		script(src="/wp-includes/js/jquery/jquery.js?ver=1.11.1")
		script(src="/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1")

		block wp_head

	body(class=type)

		#before_body
			block before_body

		#page.hfeed.site

			block before_page

			include ../includes/_header_mobile

			#content.site-content

				block before_content

				#primary.content-area

					main#main.site-main(role="main")
						block main

					block main_bottom

				aside#secondary.widget-area(role="complementary")

			include ../includes/_footer_mobile

		block wp_footer
			script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js?ver=v0.5.0")
			script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js?ver=v0.5.0")
			script(src="/assets/lib/imagesloaded.pkgd.min.js")
			script(src="/assets/lib/jquery.bxslider.min.js")
			script(src="/assets/lib/trunk8.js")
			if type == 'home'
				script(src="/assets/lib/slide-pan-pan.js")
			script(src="/assets/lib/writeCapture.js")
			script(src="/assets/lib/jquery.writeCapture.js")
			if type == 'single'
				script(src="/assets/lib/jquery.fitvids.js")
				script(src="/assets/lib/jquery.magnific-popup.min.js")
			script(src="/assets/js/mobile.min.js?ver=#{ver}")
			script(src="/assets/js/wpjson.min.js?ver=#{ver}")

